body {
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
}

table {
  text-align: center;
}
td {
    text-align: right;
    vertical-align: center;  
}

.rain {
    color:#007f00;
}
.snow {
    color:#7f007f;
}
.heat {
    color:#7f0000;
}
.cold {
    color:#00007f;
}
.tenth {
    font-weight:bold;
}
.extreme {
    font-weight:bold;
    font-style:italic;
}

.leftcolumn {   
    float: left;
    text-align: center;
    width: 256px;
    padding-right: 25px;
}

/* Right column */
.rightcolumn {
    float:center;
    text-align:center;
}

